<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=newvmgroupdisks994;AccountKey=5bdOGZPxfssh2/PMe4k0TXmNW2tmGWLzPqtaeI5Ljz493ouhht2OpTCI5fa9EG4ZnW16r0SROrcn9k/LnTZqXg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>